
Code Original Arcidiacono Miller 2011/R/.ipynb_checkpoints/Exam_Econometrics_R-checkpoint.ipynb
Code Original Arcidiacono Miller 2011/montecarlos/busprograms/nohetero10ns/busdata2.mat
Code Original Arcidiacono Miller 2011/montecarlos/busprograms/nohetero10ns/busdata2.mat
Code Original Arcidiacono Miller 2011/montecarlos/busprograms/intconddata/busdata0110.mat
References/Arcidiacono, Miller 2011a.pdf
References/Arcidiacono, Miller 2011a.pdf
Code Original Arcidiacono Miller 2011/montecarlos/busprograms/intconddata/busdata0110.mat
References/Arcidiacono, Miller 2011a.pdf
Code Original Arcidiacono Miller 2011/montecarlos/busprograms/intconddata/busdata0110.mat
Code Original Arcidiacono Miller 2011/montecarlos/busprograms/intconddata/shellbus0110.m
Code Original Arcidiacono Miller 2011/montecarlos/busprograms/nohetero10ns/busdata2.mat
References/Arcidiacono, Miller 2011a.pdf
References/Hotz, Miller 1993 - Conditional Choice Probabilities and the Estimation of Dynamic Models.pdf
Code Original Arcidiacono Miller 2011/montecarlos/busprograms/hetero10ns_MB/genbus4_MB.asv
Code Original Arcidiacono Miller 2011/CODE R/Main/Example1_BUS_Monte_Carlo.ipynb
Code Original Arcidiacono Miller 2011/CODE R/Main/bus_df_lin.csv
Code Original Arcidiacono Miller 2011/CODE R/Main/.Rhistory
Code Original Arcidiacono Miller 2011/CODE R/Main/.ipynb_checkpoints/Example1_BUS_Monte_Carlo-checkpoint.ipynb
References/Arcidiacono, Miller 2011a.pdf
